/* ---- Contenue des Pages ---- */

	/* Button Configuration */

		.btn {
			display: inline-block;
			padding: 8px 16px;
			margin-bottom: 0;

			font-size: 15px;
			font-weight: 400;
			line-height: 1.42857143;

			text-align: center;
			vertical-align: middle;

			-ms-touch-action:manipulation;
			touch-action:manipulation;

			cursor: pointer;
			overflow: hidden;

			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;	 

			-webkit-transform: translateZ(0);
			-webkit-transition: all 0.2s ease-out;
			-moz-transition: all 0.2s ease-out;
			-o-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;

			background-image: none;

			border: 1px solid transparent;
			border-radius: 0;
		}

		.btn-block { display: block !important; }
		.btn-block+.btn-block { margin-top: 5px; }

		.btn-30 {
			line-height: 30px !important;
		}
		.btn-40 { 
			line-height: 40px !important;
		}
		.btn-50 { 
			line-height: 50px !important;
		}
		.btn-100 { 
			line-height: 100px !important;

			padding: 0 20px;

			font-size: 20px !important;
		}
		.btn-150 { 
			line-height: 150px !important;

			padding: 0 40px;

			font-size: 25px !important;
		}
		.btn-200 { 
			line-height: 200px !important;

			padding: 0 80px;

			font-size: 30px !important; 
		}

	/* Button */

		/* -- BASIC -- */

			.btn:focus,
			.btn:active:focus,
			.btn.active:focus {
				outline: 5px auto -webkit-focus-ring-color;
				outline-offset: -2px
			}
			.btn:hover,
			.btn:focus{
				color: #FFFFFF;
				text-decoration: none
			}
			.btn:active {
				outline: 0;
				background-image: none;
				-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
				box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
			}


		/* -- DEFAULT -- */

			.btn-default {
				color: #FFFFFF;
				background-color: #4e5d6c;
				border-color: transparent
			}
			.btn-default:focus,
			.btn-default:hover,
			.btn-default:active,
			.btn-default-clicked {
				color: #FFFFFF;
				background-color: #39444e;
				border-color: rgba(0, 0, 0, 0)
			}


		/* -- INFO -- */

			.btn-info {
				color: #ffffff;
				background-color: #5bc0de;
				border-color: transparent
			}
			.btn-info:focus,
			.btn-info:hover,
			.btn-info:active,
			.btn-info-clicked {
				color: #FFFFFF;
				background-color: #31b0d5;
				border-color: rgba(0, 0, 0, 0)
			}


		/* -- PRIMARY -- */

			.btn-primary {
				color: #FFFFFF;
				background-color: #337ab7;
				border-color: transparent
			}
			.btn-primary:focus,
			.btn-primary:hover,
			.btn-primary:active,
			.btn-primary-clicked {
				color: #FFFFFF;
				background-color: #2b6596;
				border-color: rgba(0, 0, 0, 0)
			}


		/* -- SECONDARY -- */

			.btn-secondary {
				color: #FFFFFF !important;
				background-color: #E67E22 !important;
				border-color: transparent
			}
			.btn-secondary:focus,
			.btn-secondary:hover,
			.btn-secondary:active,
			.btn-secondary-clicked {
				color: #FFFFFF !important;
				background-color: #B15315 !important;
				border-color: rgba(0, 0, 0, 0)
			}


		/* -- THIRD -- */

			.btn-third {
				color: #E67E22 !important;
				background-color: #FFFFFF !important;
				border-color: transparent
			}
			.btn-third:focus,
			.btn-third:hover,
			.btn-third:active,
			.btn-third-clicked {
				color: #FFFFFF !important;
				background-color: #E67E22 !important;
				border-color: rgba(0, 0, 0, 0)
			}


		/* -- FOURTH -- */

			.btn-fourth {
				color: #FFFFFF !important;
				background-color: #337ab7 !important;
				border-color: transparent
			}
			.btn-fourth:focus,
			.btn-fourth:hover,
			.btn-fourth:active,
			.btn-fourth-clicked {
				color: #E67E22 !important;
				background-color: #424242 !important;
				border-color: rgba(0, 0, 0, 0)
			}

			.btn-fourth-revert {
				color: #E67E22 !important;
				background-color: #424242 !important;
				border-color: transparent
			}
			.btn-fourth-revert:focus,
			.btn-fourth-revert:hover,
			.btn-fourth-revert:active,
			.btn-fourth-revert-clicked {
				color: #FFFFFF !important;
				background-color: #337ab7 !important;
				border-color: rgba(0, 0, 0, 0)
			}


		/* -- FIFTH -- */

			.btn-fifth {
				color: #FFFFFF !important;
				background-color: #337ab7 !important;
				border-color: transparent
			}
			.btn-fifth:focus,
			.btn-fifth:hover,
			.btn-fifth:active,
			.btn-fifth-clicked {
				color: #FFFFFF !important;
				background-color: #E67E22 !important;
				border-color: transparent
			}

			.btn-fifth-revert {
				color: #FFFFFF !important;
				background-color: #E67E22 !important;
				border-color: transparent
			}
			.btn-fifth-revert:focus,
			.btn-fifth-revert:hover,
			.btn-fifth-revert:active,
			.btn-fifth-revert-clicked {
				color: #FFFFFF !important;
				background-color: #337ab7 !important;
				border-color: transparent
			}


		/* -- SIXTH -- */

			.btn-sixth {
				color: #FFFFFF !important;
				background-color: #D90000 !important;
				border-color: transparent
			}
			.btn-sixth:focus,
			.btn-sixth:hover,
			.btn-sixth:active,
			.btn-sixth-clicked {
				color: #D90000 !important;
				background-color: #FFFFFF !important;
				border-color: transparent
			}


		/* -- SEVENTH -- */

			.btn-seventh {
				color: #337ab7 !important;
				background-color: #FFFFFF !important;

				border: none;
				border-bottom: 1px solid rgb(230, 126, 34);
			}
			.btn-seventh:focus,
			.btn-seventh:hover,
			.btn-seventh:active,
			.btn-seventh-clicked {
				color: #FFFFFF !important;
				background-color: #337ab7 !important;
				border-color: transparent;
			}


		/* -- SUCCESS -- */

			.btn-success {
				color: #ffffff;
				background-color: #5cb85c;
				border-color: transparent
			}
			.btn-success:focus,
			.btn-success:hover,
			.btn-success:active,
			.btn-success-clicked {
				color: #ffffff;
				background-color: #449d44;
				border-color: rgba(0, 0, 0, 0)
			}


		/* -- WARNING -- */

			.btn-warning {
				color: #ffffff;
				background-color: #f0ad4e;
				border-color: transparent
			}
			.btn-warning:focus,
			.btn-warning:hover,
			.btn-warning:active,
			.btn-warning-clicked {
				color: #ffffff;
				background-color: #ec971f;
				border-color: rgba(0, 0, 0, 0)
			}


		/* -- DANGER -- */

			.btn-danger {
				color: #ffffff;
				background-color: #D44A26;
				border-color: transparent
			}
			.btn-danger:focus,
			.btn-danger:hover,
			.btn-danger:active,
			.btn-danger-clicked {
				color: #ffffff;
				background-color: #AE3C1E;
				border-color: rgba(0, 0, 0, 0)
			}

			.btn-danger2 {
				color: #ffffff;
				background-color: #d9534f;
				border-color: transparent
			}
			.btn-danger2:focus,
			.btn-danger2:hover,
			.btn-danger2:active,
			.btn-danger2-clicked {
				color: #ffffff;
				background-color: #c9302c;
				border-color: rgba(0, 0, 0, 0)
			}

/* ---- END Contenue des Pages ---- */