/* ---- Contenue des Pages ---- */

	/* Fields */

		legend {
			margin: 20px 0;
			padding: 10px 5px;

			font-size: 25px;
			font-weight: bold;
			
			border: none;
			border-bottom: 1px solid rgba(51, 122, 183, 1);
		}

		input {
			height: 25px;
			width: 100%;

			margin: 10px 0;

			-webkit-transform: translateZ(0);
			-webkit-transition: all 0.2s ease-out;
			-moz-transition: all 0.2s ease-out;
			-o-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;
			
			border: none;
			border-bottom: 1px solid rgba(230, 126, 34, 1);
		}

		input.formError {
			color: #D44A26;
			border: 2px solid rgba(212, 74, 38, 1);
		}		
		input.formError:focus { border: 2px solid rgba(174, 60, 30, 1); }

		input[type="radio"],
		input[type="checkbox"] {
			margin: 4px;
			width: auto;
			vertical-align: middle;
		}

		input[type="radio"],
		input[type="radio"]:not(:checked) + label,
		input[type="radio"]:checked + label,
		input[type="checkbox"],
		input[type="checkbox"]:not(:checked) + label,
		input[type="checkbox"]:checked + label {
			cursor: pointer;

			-webkit-transform: translateZ(0);
			-webkit-transition: all 0.2s ease-out;
			-moz-transition: all 0.2s ease-out;
			-o-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;
		}

		input[type="radio"]:checked + label,
		input[type="checkbox"]:checked + label { color: #E67E22; }

		input[type="radio"]:not(:checked) + label:hover,
		input[type="checkbox"]:not(:checked) + label:hover { color: #E67E22; }

		input[type="checkbox"]:checked + label:hover { color: #000000; }
		

		input[type="search"] {
			height: auto;
			width: 30%;
			padding: 12px 20px 12px 40px;

			font-size: 16px;
			color: #626262;
			
			background-image: url('../Images/searchicon.png');
			background-position: 10px 10px; 
			background-repeat: no-repeat;
			
			-webkit-transition: width 0.4s ease-in-out;
			transition: width 0.4s ease-in-out;
		}

		input[type="search"]:focus { width: 100%; }

		select {
			width: 250px;
			padding: 5px 20px;
			border: none;

			color: #FFFFFF;
			background-color: #E67E22; /* #f1f1f1 */
			box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
		}

		select > option { 
			padding: 8px;
			background-color: #424242;

			border: none;
			border-bottom: 1px solid rgba(230, 126, 34, 1);
		}

		textarea {
			height: 150px;
			width: 100%;

			resize: vertical;

			border: none;
			border-bottom: 1px solid rgba(230, 126, 34, 1);
		}

		textarea.formError {
			color: #D44A26;
			border: 2px solid rgba(212, 74, 38, 1);
		}		
		textarea.formError:focus { border: 2px solid rgba(174, 60, 30, 1); }

		input:focus,textarea:focus { border-bottom: 1px solid rgba(51, 122, 183, 1); }

	/* END Fields */

/* ---- END Contenue des Pages ---- */