/* -------- Variables -------- */

:root {
    --main-color-blue: #337ab7;
    --main-color-orange: #E67E22;
    --main-color-black: #000000;
    --main-color-dark: #333333;
    --main-color-ldark: #525252;
    --main-color-gray: #808080;
    --main-color-lgray: #E5E5E5;
    --main-color-white: #FFFFFF;

    --text-color: #1C1C1C;

    --box-shadow-bg-color: rgba(0,0,0,.2);
}

/* -------- END Variables -------- */


/* -------- Layout -------- */

    html {
        height: 100%;

        box-sizing: content-box;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    body {
        display: block;
        box-sizing: content-box;

        height: 100%;
        width: 100%;

        margin: 0;
        padding: 0;

        background-color: var(--main-color-lgray);

        font-size: 15px;
        font-family: Lato, Helvetica Neue, Helvetica,Arial, sans-serif;  /* "AlmendraRegular" , "Helvetica Neue" , "JosefinSlabRegular", "RokkitRegular" */
        word-wrap: break-word;

        overflow: hidden;
    }

    article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
        display:block;

        -webkit-transform: translateZ(0);
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }


	/* -- Scrollbar -- */

        .overflow { overflow: auto !important; }
        .overflowHidden { overflow: hidden !important; }

		.scrollVertical { overflow-y: scroll !important; }
		.scrollHorizontal { overflow-x: scroll !important; }

	/* -- END Scrollbar -- */


	/* -- Page -- */

        header {
            height: 8%;
            width: 100%;
            box-sizing: content-box;

            -webkit-transform: translateZ(0);
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
        }

		#Page {
            display: block;
			height: 92%;
			width: 100%;
			padding: 0% 5%;

            box-sizing: border-box;
            overflow-y: auto !important;

            -webkit-transform: translateZ(0);
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
		}

        #SiteBox {
            height: 100%;
            width: 15%;
            float: left;

            background-color: var(--main-color-ldark) !important;
        }
        #SiteBoxButton { display: none; }

        #Mozaic {
            margin: 100px;
            text-align: center;
        }

        .container {
            box-sizing: content-box;
            width: 100%;
        }

        .item {
            box-sizing: border-box;
            width: 100%;
        }

        .link {
            color: var(--main-color-blue);
            text-decoration: none;

            -webkit-transform: translateZ(0);
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
        }

        .link:hover { color: var(--main-color-orange); }
			
        .post {
            box-sizing: content-box;
            margin: 40px 0;
            width: 100%;
        }
        .post-inline { display: inline-block; }

        .post-header {
            position: relative;
            box-sizing: border-box;
            display: block;
            z-index: 1;
            width: 100%;

            padding: 10px 20px;
            text-align: center;

            color: var(--main-color-white);
            font-size: 30px;
            font-weight: 700;

            background-color: var(--main-color-blue);
        }

        .post-content {
            z-index: 1;
            clear: both;

            position: relative;
            box-sizing: border-box;
            width: 100%;

            overflow: hidden;

            padding: 20px 40px;
            background-color: var(--main-color-white);
            box-shadow: 0 2px 2px 0 var(--box-shadow-bg-color), 0 3px 1px -2px var(--box-shadow-bg-color), 0 1px 5px 0 var(--box-shadow-bg-color);
        }

        .post-image {
            height: 100%;

            background-color: #686868;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
		
	/* -- END Page -- */


    /* -- Color -- */

        .shiros-bg-blue { background-color: var(--main-color-blue) !important; }
        .shiros-bg-orange { background-color: var(--main-color-orange) !important; }
        .shiros-bg-dark { background-color: var(--main-color-dark) !important; }
        .shiros-bg-ldark { background-color: var(--main-color-ldark) !important; }
        .shiros-bg-gray { background-color: var(--main-color-gray) !important; }
        .shiros-bg-lgray { background-color: var(--main-color-lgray) !important; }
        .shiros-bg-white { background-color: var(--main-color-white) !important; }

        .shiros-text-blue { color: var(--main-color-blue) !important; }
        .shiros-text-orange { color: var(--main-color-orange) !important; }
        .shiros-text-dark { color: var(--main-color-dark) !important; }
        .shiros-text-ldark { color: var(--main-color-ldark) !important; }
        .shiros-text-gray { color: var(--main-color-gray) !important; }
        .shiros-text-lgray { color: var(--main-color-lgray) !important; }
        .shiros-text-white { color: var(--main-color-white) !important; }

    /* -- END Color -- */


	/* -- HR -- */

		hr {
			height:0;
			-webkit-box-sizing:content-box;
			-moz-box-sizing:content-box;
			box-sizing:content-box
		}

		.hr-orange {
			border: 0;
			height: 1px;
			background-image: linear-gradient(to right, var(--main-color-orange), var(--main-color-orange), var(--main-color-orange));
		}

		.hr-blue {
			border: 0; 
			height: 1px;
			background-image: linear-gradient(to right, var(--main-color-blue), var(--main-color-blue), var(--main-color-blue));
		}

        .hr-2PX { height: 2px; }
        .hr-4PX { height: 4px; }
        .hr-6PX { height: 6px; }
        .hr-8PX { height: 8px; }
        .hr-10PX { height: 10px; }

    /* -- END HR -- */


	/* -- Text -- */

        h1, h2, h3 { margin: 0px; }
		h1 { font-size: 30px; }
		h2 { font-size: 25px; }
		h3 { font-size: 20px; }

		p {
			color: var(--text-color);
			font-size: 15px;
			text-align: justify;
		}

		a { text-decoration: none; }

	/* -- END Text -- */


	/* -- Text Size  -- */

		.text-size-10 { font-size: 10px !important;	}
        .text-size-12 { font-size: 12px !important;	}
		.text-size-14 { font-size: 14px !important;	}
		.text-size-15 { font-size: 15px !important;	}
		.text-size-20 { font-size: 20px !important;	}


	/* -- END Text Size -- */


	/* -- Text Style -- */

        .text-bold { font-weight: bold; }
		.text-italic { font-style: italic; }
		.text-justify { text-align: justify; }

        .text-start { text-align: start; }
        .text-end { text-align: end; }

        .text-left { text-align: left }
		.text-right { text-align: right }
		.text-center { text-align: center }
        .text-verticalCenter { vertical-align: middle }
		
		.text-nowrap { white-space: nowrap }

		.text-lowercase { text-transform: lowercase }
		.text-uppercase { text-transform: uppercase }
		.text-capitalize { text-transform: capitalize }

	/* -- END Text Style -- */


	/* -- Margin -- */

		.noMargin { margin: 0px !important; }
		.noMargin-top { margin-top: 0px !important; }
		.noMargin-right { margin-right: 0px !important; }
		.noMargin-bottom { margin-bottom: 0px !important; }
		.noMargin-left { margin-left: 0px !important; }

        .margin-auto { margin: auto !important; }
        .margin-auto-tb { margin: auto 0 !important; }
        .margin-auto-lr { margin: 0 auto !important; }

		.margin-5 { margin: 5px !important; }
		.margin-10 { margin: 10px !important; }
		.margin-20 { margin: 20px !important; }
        .margin-40 { margin: 40px !important; }
        .margin-60 { margin: 60px !important; }
        .margin-80 { margin: 80px !important; }
        .margin-100 { margin: 100px !important; }

		.marginTop-5 { margin-top: 5px !important; }
		.marginTop-10 { margin-top: 10px !important; }
		.marginTop-20 { margin-top: 20px !important; }
        .marginTop-40 { margin-top: 40px !important; }
        .marginTop-60 { margin-top: 60px !important; }
        .marginTop-80 { margin-top: 80px !important; }
		.marginTop-100 { margin-top: 100px !important; }
		
		.marginRight-5 { margin-right: 5px !important; }
		.marginRight-10 { margin-right: 10px !important; }
		.marginRight-20 { margin-right: 20px !important; }
        .marginRight-40 { margin-right: 40px !important; }
        .marginRight-60 { margin-right: 60px !important; }
        .marginRight-80 { margin-right: 80px !important; }
        .marginRight-100 { margin-right: 100px !important; }
		
		.marginLeft-5 { margin-left: 5px !important; }
		.marginLeft-10 { margin-left: 10px !important; }
		.marginLeft-20 { margin-left: 20px !important; }
        .marginLeft-40 { margin-left: 40px !important; }
        .marginLeft-60 { margin-left: 60px !important; }
        .marginLeft-80 { margin-left: 80px !important; }
        .marginLeft-100 { margin-left: 100px !important; }


		.marginBottom-5 { margin-bottom: 5px !important; }
		.marginBottom-10 { margin-bottom: 10px !important; }
		.marginBottom-20 { margin-bottom: 20px !important; }
        .marginBottom-40 { margin-bottom: 40px !important; }
        .marginBottom-60 { margin-bottom: 60px !important; }
        .marginBottom-80 { margin-bottom: 80px !important; }
        .marginBottom-100 { margin-bottom: 100px !important; }

	/* -- END Marging -- */


	/* -- Padding -- */

		.noPadding { padding: 0px !important; }
		.noPadding-Top { padding-top: 0px !important; }
		.noPadding-Right { padding-right: 0px !important; }
		.noPadding-Bottom { padding-bottom: 0px !important; }
		.noPadding-Left { padding-left: 0px !important; }

        .padding-5 { padding: 5px !important; }
        .padding-10 { padding: 10px !important; }
        .padding-20 { padding: 20px !important; }
        .padding-40 { padding: 40px !important; }
        .padding-60 { padding: 60px !important; }
        .padding-80 { padding: 80px !important; }
        .padding-100 { padding: 100px !important; }

        .paddingTop-5 { padding-top: 5px !important; }
        .paddingTop-10 { padding-top: 10px !important; }
        .paddingTop-20 { padding-top: 20px !important; }
        .paddingTop-40 { padding-top: 40px !important; }
        .paddingTop-60 { padding-top: 60px !important; }
        .paddingTop-80 { padding-top: 80px !important; }
        .paddingTop-100 { padding-top: 100px !important; }

        .paddingRight-5 { padding-right: 5px !important; }
        .paddingRight-10 { padding-right: 10px !important; }
        .paddingRight-20 { padding-right: 20px !important; }
        .paddingRight-40 { padding-right: 40px !important; }
        .paddingRight-60 { padding-right: 60px !important; }
        .paddingRight-80 { padding-right: 80px !important; }
        .paddingRight-100 { padding-right: 100px !important; }

        .paddingLeft-5 { padding-left: 5px !important; }
        .paddingLeft-10 { padding-left: 10px !important; }
        .paddingLeft-20 { padding-left: 20px !important; }
        .paddingLeft-40 { padding-left: 40px !important; }
        .paddingLeft-60 { padding-left: 60px !important; }
        .paddingLeft-80 { padding-left: 80px !important; }
        .paddingLeft-100 { padding-left: 100px !important; }


        .paddingBottom-5 { padding-bottom: 5px !important; }
        .paddingBottom-10 { padding-bottom: 10px !important; }
        .paddingBottom-20 { padding-bottom: 20px !important; }
        .paddingBottom-40 { padding-bottom: 40px !important; }
        .paddingBottom-60 { padding-bottom: 60px !important; }
        .paddingBottom-80 { padding-bottom: 80px !important; }
        .paddingBottom-100 { padding-bottom: 100px !important; }

	/* -- END Padding -- */


	/* -- Div -- */

        .divBloc { display: block !important; }
        .divInline { display: inline-block !important; }

		.div-left { float: left; }
		.div-right { float: right; }
        .div-clear { clear: both; }

        .divInline-center { text-align: center; }
        .divInline-verticalCenter {
            display: flex;
            height: 100%;
        }

		.div-center {
			margin-left: auto !important;
			margin-right: auto !important;
		}
		.div-verticalCenter {
			display: flex;
			height: 100%;

			flex-direction: column;
			justify-content: center;
		}

	/* -- END Div -- */


	/* -- Div Size -- */

        .divWidth-auto { width: auto !important; }
        .divHeight-auto { height: auto !important; }

        .divWidth-5 { width: 5%; }
        .divWidth-10 { width: 10%; }
        .divWidth-15 { width: 15%; }
        .divWidth-20 { width: 20%; }
        .divWidth-25 { width: 25%; }
        .divWidth-30 { width: 30%; }
        .divWidth-35 { width: 35%; }
        .divWidth-40 { width: 40%; }
        .divWidth-45 { width: 45%; }
        .divWidth-50 { width: 50%; }
        .divWidth-55 { width: 55%; }
        .divWidth-60 { width: 60%; }
        .divWidth-65 { width: 65%; }
        .divWidth-70 { width: 70%; }
        .divWidth-70 { width: 75%; }
        .divWidth-80 { width: 80%; }
        .divWidth-85 { width: 85%; }
        .divWidth-90 { width: 90%; }
        .divWidth-95 { width: 95%; }
        .divWidth-100 { width: 100%; }

        .divMaxWidth-5 { max-width: 5%; }
        .divMaxWidth-10 { max-width: 10%; }
        .divMaxWidth-15	{ max-width: 15%; }
        .divMaxWidth-20	{ max-width: 20%; }
        .divMaxWidth-25	{ max-width: 25%; }
        .divMaxWidth-30 { max-width: 30%; }
        .divMaxWidth-35	{ max-width: 35%; }
        .divMaxWidth-40 { max-width: 40%; }
        .divMaxWidth-45	{ max-width: 45%; }
        .divMaxWidth-50	{ max-width: 50%; }
        .divMaxWidth-55 { max-width: 55%; }
        .divMaxWidth-60 { max-width: 60%; }
        .divMaxWidth-65 { max-width: 65%; }
        .divMaxWidth-70 { max-width: 70%; }
        .divMaxWidth-75 { max-width: 75%; }
        .divMaxWidth-80 { max-width: 80%; }
        .divMaxWidth-85 { max-width: 85%; }
        .divMaxWidth-90 { max-width: 90%; }
        .divMaxWidth-95 { max-width: 95%; }
        .divMaxWidth-100 { max-width: 100%; }

		.divLineHeight-10 { line-height: 10px !important; }
		.divLineHeight-20 { line-height: 20px !important; }
		.divLineHeight-30 { line-height: 30px !important; }
		.divLineHeight-40 { line-height: 40px !important; }
		.divLineHeight-50 { line-height: 50px !important; }
		.divLineHeight-60 { line-height: 60px !important; }
        .divLineHeight-70 { line-height: 70px !important; }
        .divLineHeight-80 { line-height: 80px !important; }
        .divLineHeight-90 { line-height: 90px !important; }
        .divLineHeight-100 { line-height: 100px !important; }

        .divHeight-5 { height: 5%; }
        .divHeight-10 { height: 10%; }
        .divHeight-15 { height: 15%; }
        .divHeight-20 { height: 20%; }
        .divHeight-25 { height: 25%; }
        .divHeight-30 { height: 30%; }
        .divHeight-35 { height: 35%; }
        .divHeight-40 { height: 40%; }
        .divHeight-45 { height: 45%; }
        .divHeight-50 { height: 50%; }
        .divHeight-55 { height: 55%; }
        .divHeight-60 { height: 60%; }
        .divHeight-65 { height: 65%; }
        .divHeight-70 { height: 70%; }
        .divHeight-70 { height: 75%; }
        .divHeight-80 { height: 80%; }
        .divHeight-85 { height: 85%; }
        .divHeight-90 { height: 90%; }
        .divHeight-95 { height: 95%; }
        .divHeight-100 { height: 100%; }

        .divMaxHeight-5 { max-height: 5%; }
        .divMaxHeight-10 { max-height: 10%; }
        .divMaxHeight-15 { max-height: 15%; }
        .divMaxHeight-20 { max-height: 20%; }
        .divMaxHeight-25 { max-height: 25%; }
        .divMaxHeight-30 { max-height: 30%; }
        .divMaxHeight-35 { max-height: 35%; }
        .divMaxHeight-40 { max-height: 40%; }
        .divMaxHeight-45 { max-height: 45%; }
        .divMaxHeight-50 { max-height: 50%; }
        .divMaxHeight-55 { max-height: 55%; }
        .divMaxHeight-60 { max-height: 60%; }
        .divMaxHeight-65 { max-height: 65%; }
        .divMaxHeight-70 { max-height: 70%; }
        .divMaxHeight-70 { max-height: 75%; }
        .divMaxHeight-80 { max-height: 80%; }
        .divMaxHeight-85 { max-height: 85%; }
        .divMaxHeight-90 { max-height: 90%; }
        .divMaxHeight-95 { max-height: 95%; }
        .divMaxHeight-100 { max-height: 100%; }

        .divHeight-200PX { height: 200px; }
        .divHeight-400PX { height: 400px; }
        .divHeight-600PX { height: 600px; }
        .divHeight-800PX { height: 800px; }

        .divMaxHeight-200PX { max-height: 200px; }
        .divMaxHeight-400PX { max-height: 400px; }
        .divMaxHeight-600PX { max-height: 600px; }
        .divMaxHeight-800PX { max-height: 800px; }

	/* -- END Div Size --  */

	/* -- List -- */

        table {
            height: 100%;
            width: 100%;

            border-collapse: collapse;
            border-spacing: 0;
            margin: 0 auto;
        }

        thead {
            flex: 0 0 auto;
            width: calc(100% - 0.9em);

            font-weight: normal;
            border-bottom: solid 1px var(--main-color-blue);
        }

        tbody {
            flex: 1 1 auto;
            display: block;
            overflow-y: scroll;
        }

        thead, tbody tr {
            display: table;
            table-layout: fixed;
        }

        tbody tr {
            width: 100%;
            border-bottom: solid 1px var(--main-color-orange);

            -webkit-transform: translateZ(0);
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
        }

        tbody tr:hover { background-color: var(--main-color-lgray); }
        tbody td:first-child { text-align: left !important; }
        tbody td:last-child { text-align: end; }

        th, td {
            width: 100px;
            padding: 10px;

            text-align: left;
            font-weight: normal;
        }

	/* -- END List -- */

/* -------- END Layout -------- */



/* -------- Mobile Layout -------- */

    /* SCREEN WIDTH 1200 PX */
    @media screen and (max-width: 1200px) {
        /* -- Page -- */

            body { overflow: auto !important; }

            header {
                position: relative !important;
                height: auto !important;
            }

            #Page {
                position: relative !important;
                height: auto !important;
                padding: 0% !important;
            }

            #SiteBox {
                display: none;
                width: 100%;
                float: none !important;
                clear: both !important;

                background-color: var(--main-color-ldark) !important;
            }
            #SiteBox.responsive {
                display: block;
                height: 100%;
                width: 100%;
            }

            #SiteBoxButton {
                display: block;

                position: fixed;
                right: 20px;
                bottom: 20px;
                z-index: 10;
            }

            #Mozaic {
                margin: 0;
                margin-top: 100px;
                width: 100%;
            }

        /* -- END Page -- */


        /* -- Scrollbar -- */

            .scrollVertical { overflow: auto !important; }
            .scrollHorizontal { overflow: auto !important; }

        /* -- END Scrollbar -- */


        /* -- Div -- */

            .divBloc { display: block !important; }
            .divInline { display: block !important; }

            .div-left { float: none !important; clear: both !important; }
            .div-right { float: none !important; clear: both !important; }

        /* -- END Div -- */


        /* -- Div Size -- */

            .divWidth-5,
            .divWidth-10,
            .divWidth-15,
            .divWidth-20,
            .divWidth-25,
            .divWidth-30,
            .divWidth-35,
            .divWidth-40,
            .divWidth-45,
            .divWidth-50,
            .divWidth-55,
            .divWidth-60,
            .divWidth-65,
            .divWidth-70,
            .divWidth-75,
            .divWidth-80,
            .divWidth-85,
            .divWidth-90,
            .divWidth-95,
            .divWidth-100,
            .divMaxWidth-5,
            .divMaxWidth-10,
            .divMaxWidth-15,
            .divMaxWidth-20,
            .divMaxWidth-25,
            .divMaxWidth-30,
            .divMaxWidth-35,
            .divMaxWidth-40,
            .divMaxWidth-45,
            .divMaxWidth-50,
            .divMaxWidth-55,
            .divMaxWidth-60,
            .divMaxWidth-65,
            .divMaxWidth-70,
            .divMaxWidth-75,
            .divMaxWidth-80,
            .divMaxWidth-85,
            .divMaxWidth-90,
            .divMaxWidth-95,
            .divMaxWidth-100 { width: 100%; }

        /* -- END Div Size --  */
    }

/* -------- END Layout Mobile -------- */
